<!DOCTYPE html>
<html lang="en" ng-app="NoComplyApp">
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
  <script src="js/team_controller.js"></script>  
</head>
<body>
  <header>
    <a href="/"><img id="sticker" src="img/logos/logo_sticker.png" class="user-select"></a>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/about">Shop</a></li>
      <li role="presentation"><a href="/team">Team</a></li>
      <li role="presentation"><a href="/events">Events</a></li>
    </ul>
  </header>
</body>
</html>