.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
}

.user-select {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.about {
    margin: 0 auto;
    width: 50%;
}

.col1 {
  float:left;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
  -webkit-column-width: 20%;
  column-width: 20%;
  padding-right: 70px;
  border-right: 1px solid #ccc;
  height: 800px;
}

.col2 {
  float: right;
  padding-left: 70px;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
  -webkit-column-width: 80%; /* Chrome, Safari, Opera */
  column-width: 80%;
  max height: 100%;
}

.thumb {
    margin-bottom: 30px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}


#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(public/img/misc/vid-screenshot.png) no-repeat;
    background-size: cover;
    background-color: black;
}

#shop-pic {
    display: block;
    margin: 0 auto;
    width: 70%;
}