@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

header {
    padding-left: 15px;
    padding-top: 15px;
}

h1 {
    font-family: 'Amatic SC', cursive !important;
    color: #333333;
    text-align: center;
    font-size: 48px !important;
}

a,
a:active,
a:visited {
  color: #333333  !important;
  font-family: 'Amatic SC', cursive !important;
  font-size: 29px !important;
}

p,
h3 {
    font-family: 'Open Sans', sans-serif !important;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
}

.user-select {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.col1 {
  float:left;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
  -webkit-column-width: 20%;
  column-width: 20%;
  padding-right: 70px;
  border-right: 1px solid #ccc;
  height: 800px;
}

.col2 {
  padding-left: 70px;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
  -webkit-column-width: 40%; /* Chrome, Safari, Opera */
  column-width: 40%;
  max-height: 100%;

}

.col3 {
  float: right;
  padding-left: 70px;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
  -webkit-column-width: 80%; /* Chrome, Safari, Opera */
  column-width: 80%;
  max-height: 100%;
}

.about {
  text-align: center;
  margin: 0 auto;
}

.thumb {
    margin-bottom: 30px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}


#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(public/img/misc/elias-landing.jpg) no-repeat;
    background-size: cover;
    background-color: black;
}

#sticker {
    width: 250px;
    display: block;
    margin: 0 auto;
}

#shop-pic {
    margin: 0 auto;
    width: 50%;
}

#icon {
  width: 50px;
  padding-left: 20px;
  padding-left: 20px;
}