<!DOCTYPE html>
<html>
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="css/style.css">  
</head>
<body>
  <div class="about">
  <img src="img/shop/shop1.jpg" class="shop-pic">
  <h3>Shop Info</h3>
  </div>
</body>
</html>