<!DOCTYPE html>
<html>
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="css/style.css">  
</head>
<body>
  <div class="about">
    <h3>Shop Info</h3>
    <img src="img/shop/shop1.jpg" id="shop-pic" class="user-select">
  </div>
</body>
</html>