<!DOCTYPE html>
<html>
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="../css/style.css">  
</head>
<body>
  <img id="logo" src="../img/logos/logo_black.png" class="user-select"><br>
  <p><a href='/admin/'>Back to Admin Dashboard</a></p> <br>

  <div id="newForm">
    <form method="POST" action="/team">
      <label for="team[name]"><strong>Name:</strong></label>
      <input type="text" id="name" name="team[name]"> <br>
      <label for="team[img]"><strong>Image:</strong></label>
      <input type="file" name="team[img]" accept="image/*" multiple><br><br>
      <button>Submit</button>
    </form>
  </div>

</body>
</html>