<!DOCTYPE html>
<html>
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="css/style.css">  
</head>
<body>
<header><img id="logo" src="img/logos/logo_white.png" class="user-select"></header>
  
  <a href="/about">
    <video autoplay loop muted poster="/img/misc/elias-landing.jpg" id="background">
      <source src="vid/skatehd.mp4" type="video/mp4">
    </video>
  </a> 
  
</body>
</html>