<!DOCTYPE html>
<html>
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="css/style.css">  
</head>
<body>

  <img id="logo" src="img/logos/logo.png">

  <video autoplay loop muted poster="img/misc/vid-screenshot.png" id="background">
    <source src="vid/skatehd.mp4" type="video/mp4">
  </video>

</body>
</html>