<!DOCTYPE html>
<html lang="en" ng-app="NoComplyApp">
<head>
  <title>NO-COMPLY</title>
  <link rel="stylesheet" href="css/style.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/team_controller.js"></script>  
</head>
<body>
  <div ng-controller="TeamController">
  <div ng-include="'/partials/header.html'"></div>
  <div id="wrapper">
    <div class="col1">
      <ul style="list-style: none" ng-repeat="member in team | orderBy: 'name'" >
        <li><a href="#/{{member.name}}" ng-click="show(member._id)">{{member.name}}</a></li>
      </ul>

    </div class="col3">
      <h1>{{thisMember.name}}</h1>
        <div ng-repeat="image in imageArray" class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a class="thumbnail" href="#">
            <img class="img-responsive" src="/img/team/{{image.src}}" alt="">
          </a>
        </div>
    </div>
  </div>
</body>
</html>